.list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  max-height: 800px;
  max-width: fit-content;
  border-radius: 20px 20px 20px 20px;
  gap: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}
