.filters {
  display: flex;
  align-items: center;
  position: relative;
}

.input {
  background-color: #d9d9d9;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 0.7rem;
}

.icon {
  position: absolute;
  font-size: 1.2rem;
  right: 10px;
}
