.user {
  display: grid;
  grid-template-columns: 8rem 25rem 5rem;
  gap: 1.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
}
.user__image {
  width: 8rem;
  height: 8rem;
}
.user__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 1rem;
}
