.tile {
  display: flex;
  flex-direction: column;
  background-color: #f5f4f4;
  border-radius: 20px;
  width: 350px;
  cursor: pointer;
}

.tile__image {
  width: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0 0;
  aspect-ratio: 4 / 3;
}

.tile__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile__description {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.tile__description h3 {
  color: #a10000;
}
