body {
  margin: 0;
  background-image: url("./assets/kaciaCAR.png");
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Righteous", cursive;
}

h1 {
  font-size: 4rem;
}
button {
  font-family: "Righteous", cursive;
}
