body {
  margin: 0;
  /* background-image: url("./assets/kaciaCAR.png"); */
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Righteous", cursive;
}

h1 {
  font-size: 2rem;
  margin: 0;
}
h2 {
  font-size: 1.5rem;

  margin: 0;
}
h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
h4 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
}
h5 {
  font-size: 0.75rem;
  margin: 0;
}

button {
  font-family: "Righteous", cursive;
}
